#alpha-1 #rect-red {
  transform-origin: 50% 50%;
  animation-name: alpha-animation-1;
  animation-duration: 1000ms; /* Dauer immer ein mehrfaches von 500ms */
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

#alpha-1 #rect-blue {
  transform-origin: 50% 50%;
  animation-name: alpha-animation-2;
  animation-duration: 3000ms; /* Dauer immer ein mehrfaches von 500ms */
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}

#alpha-1 #rect-yellow {
  transform-origin: 50% 50%;
  animation-name: alpha-animation-2;
  animation-duration: 3000ms; /* Dauer immer ein mehrfaches von 500ms */
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}


@keyframes alpha-animation-1 {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes alpha-animation-2 {
  from { transform: rotate(45deg); }
  to { transform: rotate(180deg); }
}






#alpha-2 #circ-blue-1 {
  transform-origin: 50% 50%;
  animation-name: alpha-animation-3;
  animation-duration: 1500ms; /* Dauer immer ein mehrfaches von 500ms */
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
  /* mix-blend-mode: lighten; */
}

#alpha-2 #circ-blue-2 {
  transform-origin: 50% 50%;
  animation-name: alpha-animation-3;
  animation-duration: 2000ms; /* Dauer immer ein mehrfaches von 500ms */
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
  /* mix-blend-mode: lighten; */
}

@keyframes alpha-animation-3 {
  from { transform: rotate(45deg) skew(0deg, 0deg);
    /* opacity: 1; */
    filter: blur(40px);
    mix-blend-mode: hard-light;  
  }

  to { transform: rotate(180deg) skew(90deg, 180deg);
     /* opacity: 0.5; */
    filter: blur(0px) }
}



#alpha-3 #tri-yellow {
  transform-origin: 50% 50%;
  animation-name: alpha-animation-4;
  animation-duration: 2000ms; /* Dauer immer ein mehrfaches von 500ms */
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: steps(8, end);
}

@keyframes alpha-animation-4 {
  from { transform: scale(1); }

  to { transform: scale(5); }
}


#alpha-3 #tri-blue {
  transform-origin: 50% 50%;
  animation-name: alpha-animation-5;
  animation-duration: 1000ms; /* Dauer immer ein mehrfaches von 500ms */
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: steps(8, end);
}

@keyframes alpha-animation-5 {
  from {transform: translate(0px, 0px) }

  to { transform: translate(0px, 800px);}
}

#alpha-3 #tri-green {
  transform-origin: 50% 50%;
  animation-name: alpha-animation-6;
  animation-duration: 1000ms; /* Dauer immer ein mehrfaches von 500ms */
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: steps(10, end);
}

@keyframes alpha-animation-6 {
  from {transform: translate(0px, 0px) }

  to { transform: translate(800px, 0px);}
}

#alpha-3 #tri-red {
  transform-origin: 50% 50%;
  animation-name: alpha-animation-7;
  animation-duration: 1000ms; /* Dauer immer ein mehrfaches von 500ms */
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: steps(10, end);
}

@keyframes alpha-animation-7 {
  from {transform: translate(0px, 0px) }

  to { transform: translate(-800px, 0px);}
}