/*
   ..                                      s         s                                                     
 dF                                       :8        :8                                           .uef^"    
'88bu.             u.      u.    u.      .88       .88           u.      x.    .               :d88E       
'*88888bu    ...ue888b   x@88k u@88c.   :888ooo   :888ooo  ...ue888b   .@88k  z88u         .   `888E       
  ^"*8888N   888R Y888r ^"8888""8888" -*8888888 -*8888888  888R Y888r ~"8888 ^8888    .udR88N   888E .z8k  
 beWE "888L  888R I888>   8888  888R    8888      8888     888R I888>   8888  888R   <888'888k  888E~?888L 
 888E  888E  888R I888>   8888  888R    8888      8888     888R I888>   8888  888R   9888 'Y"   888E  888E 
 888E  888E  888R I888>   8888  888R    8888      8888     888R I888>   8888  888R   9888       888E  888E 
 888E  888F u8888cJ888    8888  888R   .8888Lu=  .8888Lu= u8888cJ888    8888 ,888B . 9888       888E  888E 
.888N..888   "*888*P"    "*88*" 8888"  ^%888*    ^%888*    "*888*P"    "8888Y 8888"  ?8888u../  888E  888E 
 `"888*""      'Y"         ""   'Y"      'Y"       'Y"       'Y"        `Y"   'YP     "8888P'  m888N= 888> 
    ""                                                                                  "P'     `Y"   888  
                                                                                                     J88"  
                                                                                                     @%    
𝔡𝔬𝔫’𝔱 𝔱𝔬𝔲𝔠𝔥 𝔱𝔥𝔦𝔰 𝔰𝔠𝔯𝔦𝔭𝔱  */

body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

svg {
  width: 100%;
  height: auto;
}